@mixin full-vertical-alignment() {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin animation($duration: 0.2s) {
  transition: all $duration linear;
  -webkit-transition: all $duration linear;
  -moz-transition: all $duration linear;
  -o-transition: all $duration linear;
}

@mixin avoid-animation() {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
}

@mixin iconmoon-config() {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
