// Footer

.scroll-wrapper {
  @media screen and (max-width: 500px) {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
