.transition-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: white;

  .loading-message {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    .messages {
      position: relative;
      height: 80px;
      max-width: 450px;
      margin: 0 auto;
      text-align: center;
    }

    p {
      position: absolute;
      width: 90%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: none;
      @include font-family(PostGroteskBook);
      font-size: 24px;
      line-height: 30px;
      color: color(red);
      letter-spacing: 0;
      text-align: center;

      &:first {
        display: block;
      }
    }

    .rotator-icon {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      width: 140px;
      height: 140px;
      position: relative;
      background: url("../images/ico-thunder.svg") center center no-repeat;

      &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        border-left: 2px solid color(red);
        border-top: 2px solid color(red);
        border-bottom: 2px solid color(red);
        border-right: 2px solid transparent;
        border-radius: 50%;
        -webkit-animation: rotation 2s infinite linear;
      }
    }

    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }
}
