.section-action {
  margin-top: 140px;

  h1 {
    display: block;
    @include font-family(CanelaLight);
    font-size: 25px;
    line-height: 27px;
    color: black;
    letter-spacing: -0.34px;
    margin-bottom: 40px;
    text-align: center;

    @include breakpoint(medium) {
      font-size: 61px;
      line-height: 27px;
      margin-bottom: 60px;
    }
  }

  p {
    @include font-family(PostGroteskLight);
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 30px;

    &.footer {
      display: block;
      margin-top: 50px;
      @include font-family(CanelaRegular);
      font-size: 18px;
      color: color(yellow);

      @include breakpoint(medium) {
        font-size: 26px;
        margin-top: 35px;
      }

      a {
        color: color(yellow);

        @include breakpoint(medium) {
          padding: 0 20px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .block-content {
    display: block;
    max-width: 600px;
    margin: 0 auto;

    @include breakpoint(medium) {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }

  .action-highlight {
    margin-bottom: 40px;
    text-align: center;

    @include breakpoint(medium) {
      margin-bottom: 50px;
    }

    p {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 0px;

      @include breakpoint(medium) {
        max-width: 340px;
      }

      span {
        display: block;
        @include font-family(CanelaBold);
        font-size: 60px;
        line-height: 1;
        color: color(yellow);
        margin: 10px 0 0 0;
        letter-spacing: -0.34px;

        @include breakpoint(medium) {
          font-size: 80px;
        }
      }
    }
  }

  .action-box-image {
    display: block;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    &.spread {
      background-image: url("../images/ico-print-poster.svg");
    }
    &.pencil {
      background-image: url("../images/ico-pencil.svg");
    }
    &.conversation {
      background-image: url("../images/ico-conversation.svg");
    }
    &.group {
      background-image: url("../images/ico-group.svg");
    }
  }

  .social {
    display: inline-flex;
    vertical-align: top;
    background: color(yellow);
    @include font-family(CanelaRegular);
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    box-shadow: 0 11px 50px 0 rgba(0, 0, 0, 0.13);
    border-radius: 39.5px;
    font-family: Canela-Regular;
    font-size: 14px;
    line-height: 37px;
    border: 0 solid #ffffff;
    width: 40vw;
    margin: 0 10px;
    padding: 5px 15px;

    @include breakpoint(medium) {
      font-size: 21px;
      width: 30vw;
      max-width: 240px;
      padding: 15px 35px;
      margin: 0 10px 20px 10px;
    }

    @include breakpoint(large) {
      width: 30vw;
      font-size: 21px;
      max-width: 240px;
      padding: 15px 35px;
      margin: 0 20px 20px 20px;
    }

    &.twitter {
      i {
        background-image: url("../images/ico-twitter.svg");
      }
    }
    &.email {
      i {
        background-image: url("../images/ico-email.svg");
      }
    }
    i {
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
