
// Colors

$colors: (
	primary: #33576C,
	neutral-light: #FFFFFF,
	neutral-grey: #B2AEA3,
	neutral-dark: #000000,
	links: #F2696E,
	red: #FF4100,
	red-light: #FFE5E1,
	red-dark: #C83300
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
